@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Montserrat;
    src: url('./Assets/Fonts/Montserrat.ttf');
}
@font-face {
    font-family: MontserratSemiBold;
    src: url('./Assets/Fonts/MontserratSemiBold.ttf');
}
@font-face {
    font-family: MontserratBold;
    src: url('./Assets/Fonts/MontserratBold.ttf');
}
@font-face {
    font-family: Lato;
    src: url("./Assets/Fonts/Lato.ttf");
}
@font-face {
    font-family: LatoBold;
    src: url('./Assets/Fonts/Lato-Bold.ttf');
}
@font-face {
    font-family: LatoBlack;
    src: url('./Assets/Fonts/Lato-Black.ttf');
}
@font-face {
    font-family: MuktaThin;
    src: url('./Assets/Fonts/MuktaThin.ttf');
}
@font-face {
    font-family: Oswald;
    src: url('./Assets/Fonts/Oswald.ttf');
}@font-face {
    font-family: TitilliumWeb;
    src: url('./Assets/Fonts/TitilliumWeb.ttf');
}
.productTitle{
    font-family: MontserratBold;
    font-size: 2em;
}
.productPrice{
    font-family: Montserrat;
    font-weight: 300;
    font-size: 1.2em;
}
.testClass{
    color: aqua;
}
.titliumFontSpaced{
    letter-spacing: 0.1em;
    font-family: TitilliumWeb;
}
.latoFont{
    font-family: LatoBlack;
}
.title{
    text-align:center;
    margin:2rem 0rem;
    font-size:2em;
    font-family:LatoBlack;
}
.heading{
    font-family: MontserratBold;
    font-size: 1.5em;
    text-transform: capitalize;
}
.subtitle{
    font-size:1.1em;
    font-family:MontserratSemiBold;
}
.normalText{
    font-family: Montserrat;
    color:black
}.normalTextWhite{
    font-family: Montserrat;
    color:white
}
.normalTextLined{
    font-family: MontserratSemiBold;
    text-decoration:underline
}
.titleBig{
    text-align:center;
    font-size:2.5rem;
    font-family:Prompt;
    font-weight:600
}

.blueBox{
    
    border:1px solid rgba(0, 0, 0,0.3);
    margin:3vh 2vw;
    width:30vw;
    padding-bottom:7vh;
    border-radius:0.5rem;
    background-color:#E9EFFF

}
.button{
    background-color: black;
    color:white;
    padding:0.8rem 2rem;
    text-transform: uppercase;
    margin:0 1rem;
    margin-top: 2em;
    font-weight: 600;
    letter-spacing: 0.3em;
    background-color: #1A73E8;
    font-family: Lato;

}